[2018-05-07 11:58] Incabell opened #1 "Ideas for future of Open Source Ladies meetup"
At the meetup (02.05.18) we (@jancborchardt @sleepypioneer @suntala and I) collected some ideas of what we want to make of the meetup, and how to go about it. Not everything here needs to happen that way and nothing is set in stone, but I think it's a good idea to write what was said down and be able to point to it and talk about it more.

- have topics for each meetup, focus on working on a speci

[2018-05-07 14:34] GretaD commented on #1
Hello everyone,

And thank you for publishing the notes.
Those are very points to start. I like the point "Help projects add Code of Conduct, good first issues", this is a good one, but i would suggest also to create/adapt one for diversity events publish it here or at webiste and just share it with an event that doesn't have one, or have not a good one. I'd add also, safe and security information

[2018-05-07 15:10] camilasan commented on #1
+1 to rename to »Open Source Diversity Berlin«

[2018-05-27 17:20] MylesBorins opened #2 "Hover on `contribute` link in events makes it hard to click the link for twitter account"
the hot zone when hovering over the `contribute` link makes it near impossible to click on the link for the twitter account.

I would submit a patch but unfortunately as a google employee I am [not permitted](https://opensource.google.com/docs/patching/#forbidden) to patch AGPL projects. If there is interest in changing licenses I am more than happy to open another PR with some suggestions.

[2018-05-29 13:16] jancborchardt commented on #2
@MylesBorins yep, this has been fixed in a recent update. :) (Also reported at https://gitlab.com/opensourcediversity/opensourcediversity.org/issues/5)

Wow, that’s interesting info, also unfortunate. :\

[2018-05-29 13:16] #2 closed

[2018-05-29 13:18] MylesBorins commented on #2
@jancborchardt let me know if you are open to exploring other licenses and I can open an issue. (also lmk if you prefer the issue to be opened on gitlab

[2018-05-29 17:53] sleepypioneer opened #3 "Include Twitter Feed on page"
Use Twitter API to add latest tweets from Open Source Diversity to the website.

Need to decide where this should go on page. Also include a follow button?

[2018-05-29 17:54] sleepypioneer opened #4 "Include latest meetup infomation on page"
Use Meetup API to add latest Meetup data on webpage in events section.

[2018-05-29 17:55] suntala opened #5 "The articles should be loaded from a json file instead of being hardcoded."

[2018-05-29 17:56] samu-workopen opened #6 "Impressum Set Up"
*contact people
*DSGVO

[2018-05-29 19:14] jancborchardt commented on #1
We just renamed the meetup :)
- https://twitter.com/opensrcladies/status/1001532973047480326
- https://www.meetup.com/opensourcediversity/

We also talked about a possible structure for each meetup which will be the same no matter which project we work on. The notes are added to the wiki at: https://github.com/opensourcediversity/opensourcediversity.org/wiki/Meetup-agenda-template

[2018-05-29 21:35] sleepypioneer opened #9 "Check accessability"
Should check through site for accessability, this ranges from correct alt="" in images but also some formatting. This can be checked with google chrome audits in the developer tools. (See image)

![audits](https://user-images.githubusercontent.com/23617373/40686853-fdc6b478-6398-11e8-9a12-ec74e594ad23.PNG)

[2018-05-30 00:21] jancborchardt commented on #6
We can then also put some additional credits / legal info in the imprint:

- All [code open source](https://github.com/opensourcediversity) under [AGPLv3+](https://www.gnu.org/licenses/agpl-3.0.en.html), all content [Creative Commons Attribution-ShareAlike](https://creativecommons.org/licenses/by-sa/4.0/)
- Logo by [Elio Qoshi](https://elioqoshi.me) of [Ura Design](https://ura.design) & [Open Sour

[2018-05-30 00:34] jancborchardt commented on #9
Good point!

So embarrassed I missed the empty alt tags for decorative images that I fixed it right away :O https://github.com/opensourcediversity/opensourcediversity.org/commit/8bf9fef3a7b01c97a5c5d07d69ff66182533c2e6
Also did a first compression of the project images.

[WAVE](https://wave.webaim.org/) has no other complaints for now, will go through it with Lighthouse tomorrow.

[2018-05-30 08:00] sleepypioneer commented on #9
Dont panic, It will be something that needs checking at regular intervals. Colours can also be an issue it will probably not like the menu buttons contrast in the top nav.

[2018-05-30 10:16] 22nds opened #10 "Mobile view - logo displayed under top nav"
On mobile view (<=575px) the main logo needs more margin at the top, because now the top header is covering it.

I would suggest we add:
[code]

![screenshot_20180530-120923](https://user-images.githubusercontent.com/1879220/40714317-98d833ba-6402-11e8-8e06-08837bb602c4.png)

[2018-05-30 10:35] 22nds commented on #9
@sleepypioneer Checked the color contrast of background color #45B086 and white and the contrast ratio is only 2.69:1 - which fails WCAG.

Solution would be to make green darker (eg. #28624E) or color of the text black (which also means black background). I am in favour of darkening the green - but ultimately this is a design decision.

![dark-green](https://user-images.githubusercontent.com/18792

[2018-05-30 10:49] sleepypioneer commented on #9
Hi @22nds great to see you here! @jancborchardt is our design Guru so I will leave this to him, thanks for checking :)

[2018-05-30 10:54] sleepypioneer commented on #10
💯 sounds good to me, @22nds feel free to make a pull request. Ask @jancborchardt to review it.

[2018-05-30 11:00] 22nds opened #11 "Link redirects"
Checked the links on the page and several are being redirected so they need to be updated on the site:

http://www.outreachy.org/ -> https://www.outreachy.org/
http://up-for-grabs.net/ ->  https://up-for-grabs.net/
https://www.meetup.com/opensourceladies/  ->  https://www.meetup.com/opensourcediversity/

[2018-05-30 13:18] jancborchardt commented on #9
I enhanced the readability a bit:
- Added a slight text-shadow to the white text which on green
- Made the navigation text fully opaque white by default
- Added the hover/focus effect for the navigation links too
![screenshot from 2018-05-30 14-29-12](https://user-images.githubusercontent.com/925062/40721388-a6ccea58-6419-11e8-85e8-9754bc572c2b.png)

Changing the text/foreground color from white t

[2018-05-30 19:04] jancborchardt commented on #9
Fonts are now changed to Regular & Bold, much better! :)

And a pull request with compressed images is at https://github.com/opensourcediversity/opensourcediversity.org/pull/16

[2018-05-30 23:44] #10 closed

[2018-05-30 23:48] #11 closed

[2018-05-31 11:09] jancborchardt commented on #1
Just saw [this tweet](https://twitter.com/bl00dymarie/status/1002138768185483265) on @bl00dymarie talking about https://bloodyhealth.gitlab.io/en/

Since we want to work on one specific project at each of the meetups, Bloody Health seems to be a great candidate for one of our next meetups! :) I think at the next one we wanted to work on https://opensourcediversity.org one more time, but woud you b

[2018-06-03 21:27] jonatoni commented on #1
@Incabell thanks for sharing the notes :) I just want to add a few things:

- Another open source project that can be included as a topic is Fedora Project. I'm part of this community and I can try to find someone that lives in Berlin to join your meetups and give a talk about the community, how to contribute etc. In August I will be in Berlin, so if you will have events during August I would be m

[2018-06-07 12:08] drashti4 commented on #3
I can not find Github, Twitter and Slack icons in mobile UI. Are you going to fix that? I would happy to contribute.

[2018-06-07 19:28] jancborchardt commented on #3
@drashti4 oh, they should be in the menu, where Events, Articles etc are too – could you open a separate issue about that? Pull request to fix it is also welcome. :) The set up instructions are in the readme, and feel free to ask if you need help (but let's do that in a new issue). :)

[2018-06-08 03:47] drashti4 opened #20 "Contact icon not appearing in mobile UI"
### Actual result
Github, Twitter and IRC icons are not there in mobile UI.

### Expected result
It should be in menu where Events, Articles etc are too.

[2018-06-11 16:44] #20 closed

[2018-07-01 05:59] palash25 opened #25 "Add Google Summer of Code to the programs section on the website"
I know that the list focusses on SOC programs for women and other underrepresented sections in software development but the number of girls selected for Google Summer of Code has been increasing over the years and I think more girls should know about such a program.

[2018-07-02 13:15] jancborchardt commented on #25
What do you think @jonatoni @camilasan @kristiprogri @Incabell and others? Was a bit hesitant just because the Google name is attached to it, but it is a pretty popular and fitting program though. On the other hand, Outreachy and RailsGirls Summer of Code was started precisely _because_ Google Summer of Code was/is not particularly diverse.

[2018-07-02 13:49] Incabell commented on #25
hm, I'm not sure either. on one hand, we want to show all inclusionist places, on the other it's not specifically there to aid inclusion but is naturally being inclusionist, which is great, but might be confusing since I'd expect the former when looking at the site. (not sure how understandable that sentence is, so please ask if it's unclear what I mean).

how would we determine, if a project is b

[2018-07-02 16:32] palash25 commented on #25
I agree a separate section for such programs like GSoC, Linux Foundation Internships would be nice. It can also be mentioned that they are not exclusive to women but should give it a try in order to increase the diversity in these projects too.

Just because they are not exclusive to women shouldn't stop them from trying. I think a place on this website might even encourage a few of them to try th

[2018-07-02 16:33] palash25 commented on #25
Here are a few more programs that can be added to a separate section if you folks are interested.
https://github.com/tapasweni-pathak/SOC-Programs#soc-programs

[2018-07-02 22:22] jonatoni commented on #25
I'm +1 to add GSoC too. Why? - because GSoC is a global program focused on open source software development and helps students to get more involved with open source communities. Don't forget that during the application period we encourage people to apply at both internships and check both of them when they apply because of the diverse projects (and project ideas) they can apply. Yes, it is focused

[2018-08-09 13:08] jancborchardt opened #31 "Adding a "Consulting" category"
A very useful addition to the site would probably be a "Consulting" category where projects can find more resources or actually hire a consultant to work. Loosely defined the category would be:

- People who regularly write articles specific to diversity & inclusion in free & open source
- People who projects or companies can hire to improve in that area

Possible candidates to link there are:
- [

[2018-08-09 22:45] emmairwin commented on #31
awesome to have consultants listed!

On Thu, Aug 9, 2018 at 6:14 AM Jan-Christoph Borchardt <
notifications@github.com> wrote:

--
-- Emma Irwin

[2018-08-11 07:09] sara-02 opened #33 "Add Women Tech Makers"
Women Tech Makers can be added under either space or programs or both.
 It is a global community with local chapters and runs the annual Google Women Tech makers Scholarship that is open worldwide(region based)
Women Tech Makers Community: https://www.womentechmakers.com
Women Tech Makers Scholarship: https://www.womentechmakers.com/scholars

[2018-08-11 07:22] sara-02 opened #34 "Add GHC, GHCI and Tapia Conferences under Program Sections"
Both the Grace Hopper Conferences(GHC and GHCI) and the Tapia Conference are excellent opportunities for women for presenting their work, and networking with other professionals, students and companies from around the world. Both conferences are held annually. GHC has a sister conference held annually in India, called Grace Hopper Conference India(GHCI).
All the 3 conferences are largely for promo

[2018-08-11 15:39] sara-02 opened #35 "[Priority][Bug]The title hyperlink in README.md is broken"
The Hyperlink associated with the Title of the READM.md is broken, it leads to
https://github.com/opensourcediversity/opensourcediversity.org/blob/master/opensourcediversity.org and results in a 404. I guess it was meant to point at https://opensourcediversity.org/ instead. But due to a missing `https://` in the hyperlink it getting linked in line.

![screenshot from 2018-08-11 21-07-25](https://u

[2018-08-12 11:40] jancborchardt opened #37 "Criteria for adding projects / About page with other related projects"
A start at an attempt of what our criteria for selecting projects is. :) This could be the start of an "About" page.

Our short description is: **For more diversity & inclusion in free & open source software communities 😊**

- **Open Source:** Not only about diversity in tech generally, like
   - https://www.diversifytech.co, https://www.womenwhocode.com/, https://anitab.org/, https://www.girldeve

[2018-08-12 11:43] jancborchardt commented on #33
Good question actually if Women Tech Makers belongs on the list as it's not really about open source – or is it?

There's an issue at #37 where we could discuss our criteria for adding projects. Please join the discussion @sara-02! :)

[2018-08-12 13:48] camilasan commented on #37
I think they also fall under "is not that much about free & open source software".

[2018-08-13 15:48] jancborchardt opened #38 "Set up group on Open Collective for donations? (sticker costs, domain, etc)"
Maybe it would make sense for us to be on [Open Collective](https://opencollective.com)? That way we can do funding for sticker printing, domain costs etc. We do that with Open Source Design and it works quite well: https://opencollective.com/opensourcedesign/ – what do you think?

On the application page at https://opencollective.com/opensource/apply they say that:

So if we would like to be on t

[2018-08-13 15:53] piamancini commented on #38
hi @jancborchardt - The 100 stars restriction has more to do with software projects. Please apply with any other tag than open source. We'd love to host this on the Open Source Collective.

[2018-08-13 19:27] piamancini commented on #38
done - opencollective.com/opensourcediversity

[2018-08-13 19:43] jancborchardt commented on #38
Yay, thank you so much! Adjusted the design and added a bunch of us to the collective: https://opencollective.com/opensourcediversity#

cc @camilasan @Incabell @GretaD @jonatoni @kristiprogri @sleepypioneer @evalica – feel free to add others too. :)

By the way @piamancini, since you also authored things like https://github.com/piamancini/diversity-resources, I’d like to add you to this Github org

[2018-08-13 19:46] piamancini commented on #38
totally!

[2018-08-15 19:54] piamancini commented on #38
quick note that I will be showcasing this collective on the open collective newsletter coming out this week. I'll use your language from the website, do let me know if I should highlight anything in particular!

[2018-08-15 20:09] jancborchardt commented on #38
@piamancini wow, that's so cool, thank you a ton! :) Using the language from website and/or Open Collective page is perfect!

[2018-08-28 15:20] camilasan opened #41 "Add articles about ageism in tech"
I have discussed with @jancborchardt about it.
We usually talk mostly about sexism and racism, but we should also try to highlight ageism.

[2018-08-28 15:24] camilasan opened #42 "Add articles about people with disability in open source"
Like https://www.inc.com/zoe-henry/aapd-disability-equality-index-2017.html...
It is in the same line as [ageism](#41), we don't talk about it but it is also a form of exclusion.

[2018-08-28 15:26] camilasan commented on #41
#42

[2018-08-28 18:46] rullzer opened #43 "Javascript dependencies out of date"
It seems your javascript dependencies are out of date.
This is of course not recommended ;)

@skjnldsv can maybe help as my js package manage skills are not sufficient.
After that you could setup automatic dependency management.

[2018-09-01 20:37] jancborchardt commented on #42
It would be great to have something specific to open source even. Regarding what to do about it, the Mozilla Developer Network page on [What is accessibility](https://developer.mozilla.org/en-US/docs/Learn/Accessibility/What_is_accessibility) is pretty great!

Another possible good resource is these posters on [designing for accessibility](https://accessibility.blog.gov.uk/2016/09/02/dos-and-donts

[2018-09-02 10:02] camilasan commented on #42
That is what I meant :)

[2018-09-02 10:07] camilasan opened #46 "Create a list of open source projects maintained by people from an underrepresented group"
- [ ] Use twitter to ask people if they know a project - use a nice hashtag for it?
- [ ]  Store the list somewhere: in a page of the website?

cc @jancborchardt

[2018-09-04 15:33] jancborchardt opened #47 "Code of Conduct"
While the [Contributor Covenant](https://www.contributor-covenant.org/) is listed on our page as first item, we don’t really explicitly mention that/if we adopted it.

We should mention it:
- [x] In the footer of the website
- [x] In the readme of the repository
- [x] Via a CODEOFCONDUCT file (or so) in the repository

What does everyone think? @camilasan @sleepypioneer @Incabell @jonatoni @22nds

[2018-09-04 15:39] jancborchardt commented on #46
Yes, as said this is a great idea! :)

Maybe it would be ideal to already start out with a small list? And should we list only the project or also specifically the maintainer(s)?

- https://speakerinnen.org
- https://diversitytickets.org
- https://gitlab.com/bloodyhealth/drip
- Nextcloud desktop client (right @camilasan?) ;)
- …

We could either put it as a subsection or a separate page. (Or both

[2018-09-04 15:50] jancborchardt commented on #42
Just remembered this article from some time ago, from Liz Henry of Mozilla:
https://longmoreinstitute.wordpress.com/2017/09/11/theres-always-something-to-be-done-liz-henry-on-being-disabled-in-tech/
It’s also not super-specific to open source, but it’s nice and has some good further reading too.

[2018-09-05 12:20] sleepypioneer opened #48 "Add contact details (signal & IRC links to readme)"
It would be good for new members to have a list of tools for working with us.

[2018-09-05 19:34] sleepypioneer commented on #47
oops read that as should we mention it in ;) well I guess I should assign myself now im here 😆

Not sure the extra file is needed in the repo if its a link to a file?

[2018-09-07 13:59] piamancini opened #49 "sustainOSS - Invite / Travel Fund available."
Hi! We are organizing the second edition of [sustainOSS](https://sustainoss.org) in London on the 25th of October.

I'd like to make sure this community gets enough time to buy tickets and/or apply to travel fund to attend. Travel fund closes next week!

Also, if you are connected with networks of sustainers/ maintainers that are not normally voices in the open source sustainability conversations,

[2018-09-09 06:54] asquare14 opened #50 "Add a section for Women Centric scholarships offered by various companies."
- Women Techmakers Google
- Adobe Women in Research
- Toptal
- Nutanix
- GHC
- Western Digital
- Adobe Women In Tech India
- WeTech Qualcomm Scholar
- Goldman Sachs Scholarship
- Juniper Network Scholarships
- Acumen Scholarship
- Snap Scholarship
- Digital Product School
- Red Hat Open Source Contributor
 Also add links to pages .

[2018-09-09 06:56] asquare14 opened #51 "Add a section saying who all maintainers of this website."
A small photo with a short description and email. In case, anyone has questions they can message us.

[2018-09-09 06:58] aSquare14 opened #52 "Add Hacktober Fest in Programs section."

[2018-10-01 16:42] dipu989 commented on #52
I will take up this issue.

[2018-10-01 17:58] dipu989 commented on #52
@aSquare14
Done and is ready for review.
Thank You.

[2018-10-01 18:04] Roshanjossey opened #55 "Add first contributions in Basics section"
[First contributions](https://github.com/firstcontributions/first-contributions) is a project to help beginners to get started with contributing to open source projects.

We have a hands-on tutorial, a web app to find projects to contribute to and a slack community to ask questions and get help.

Here's a code snippet that could go in to `opensourcediversity.org`

[code]

[2018-10-01 18:08] Satyabrat35 commented on #55
Can i work on this issue ?

[2018-10-01 18:19] Roshanjossey commented on #55
Hi @Satyabrat35, I appreciate your enthusiasm in taking this up. 🖖

I'm not a maintainer in this project. So, I'm not 100% positive if the maintainers want this change.

Even if that is the case, I'd encourage you to get started by forking this project, cloning and getting familiar with the code. Even if this change is not accepted, you can work on some other issues.

Check out first contributions

[2018-10-01 18:36] Satyabrat35 commented on #55
Thank You :+1:

[2018-10-01 19:27] camilasan commented on #48
For IRC: https://matrix.to/#/!WomCGeovYanLvdUgwo:matrix.org (is this correct @jancborchardt?)
Signal: I don't know how to get the link to a chat room. Anyone?

[2018-10-04 12:14] palash25 commented on #55
@Roshanjossey I was just here to open the same issue :laughing:

[2018-10-04 13:30] jancborchardt commented on #55
Sounds great! 🙋 Do open a pull request to add it to the basics section, would be awesome to have it in.

The snippet in the first post seems good except 2 things:
- The image should not be hotlinked but rather added to the project images folder here
- A better description might be "Make your first open source contribution in 5 minutes", just like on the website? (Feel free to keep the glitter emoj

[2018-10-04 13:35] Roshanjossey commented on #55
@jancborchardt, Thank you for your response 🖖

@Satyabrat35, jump in.

[2018-10-23 20:17] jancborchardt commented on #49
@piamancini ah, totally missed this as I was on vacation the whole September. :\

Is anyone else going? And next time we should absolutely spread the word! :)

@piamancini I also just tried adding you to the `@osdiversity` Twitter account via https://tweetdeck.twitter.com, but it said:

[2018-11-06 14:08] plxity opened #58 "Smooth Scrolling when clicked on elements of navigation bar"
To make the UI/UX better we can smooth scrolling effect on the navigation bar elements.

[2018-11-10 19:11] xh3n1 opened #59 "Add a link to discourse forum"
I noticed that the forum is missing on https://opensourcediversity.org.

[2018-11-18 19:04] jancborchardt commented on #47
Pull request at https://github.com/opensourcediversity/opensourcediversity.org/pull/61 – please review! :)

[2018-11-18 19:51] jancborchardt commented on #59
Good point @xh3n1! :) Fix is at https://github.com/opensourcediversity/opensourcediversity.org/pull/63, please review.

[2018-11-18 19:53] jancborchardt commented on #50
Since we specifically want to focus on _open source_ and not only "tech" in general, the only relevant one for us seems to be **Red Hat Open Source Contributor**? I couldn’t find any further info on that though. We do already list the Red Hat "Women in Open Source Award". :)

What does everyone think?

[2018-11-18 19:55] jancborchardt commented on #48
The link to the IRC/Riot room is already on the website in the header. :) But I would consider replacing it with Discourse for reasons mentioned in https://github.com/opensourcediversity/opensourcediversity.org/pull/63#issuecomment-439720337

What do you think?

As for Signal, the rooms are invite-based so you have to invite people via their phone number. :) I would say now that we have the Discou

[2018-11-18 20:02] jancborchardt commented on #9
Closing as we fixed the basic issues. If there’s stuff left or new things coming up, please open new issues! :)

[2018-11-18 20:02] #9 closed

[2018-11-18 20:03] jancborchardt commented on #49
Closing because the event has passed. @piamancini any time you have a cool event to share, feel free to post it in the Events category of our new forum: https://discourse.opensourcediversity.org – that’s probably much more visible than this Github repo. :slightly_smiling_face:

[2018-11-18 20:03] #49 closed

[2018-11-18 20:05] jancborchardt commented on #38
Closing as this is successfully done! :)

- This pull request adds Open Collective to the website: https://github.com/opensourcediversity/opensourcediversity.org/pull/63
- This pull request adds backers and contributors to the readme: https://github.com/opensourcediversity/opensourcediversity.org/pull/45

Please review :tada:

[2018-11-18 20:05] #38 closed

[2018-11-18 20:18] jancborchardt commented on #58
@plxity good point! Do you want to work on that? :)

[2018-11-18 20:19] jancborchardt commented on #52
@dipu989 just saw this – the pull requests are open in your own repository and not in this one. :) Could you combine the commit into one (adding image and text) and open it as a pull request in this repository?

[2018-11-18 20:20] plxity commented on #58
@jancborchardt Yes sure.

[2018-11-18 21:06] #59 closed

[2018-11-18 21:07] jancborchardt commented on #48
Closing as #63 is merged, Discourse is now very present. :)

[2018-11-18 21:07] #48 closed

[2018-11-19 14:16] dipu989 commented on #52
@jancborchardt
Thanks For Checking the PR.
Sure, I will reopen it within a few days, following the instructions!

[2018-11-19 17:29] #47 closed

[2018-11-21 17:59] aSquare14 commented on #50
Sounds good to me !

[2018-11-26 11:21] dipu989 commented on #52
@jancborchardt
I have opened a new PR.
Please have a look.

[2018-12-22 03:31] sadetavarez commented on #34
Hello,
Is this issue still available to work on? I would like to complete this task.

[2018-12-22 03:51] jancborchardt commented on #52
Fixed with https://github.com/opensourcediversity/opensourcediversity.org/pull/67 :) Thanks for your contribution!

[2018-12-22 03:51] #52 closed

[2018-12-22 03:52] jancborchardt commented on #34
It seems the conferences are not really related to open source, or am I missing something? :slightly_smiling_face:
Also all of them are already supported by AnitaB.org, which is a similar organization but with diversity in tech overall as a goal. We focus on diversity in open source specifically as there’s much less going on.

cc @camilasan @jonatoni @alicetragedy what do you think?

[2018-12-22 11:33] alicetragedy commented on #46
I really like this idea! 👍
I agree that getting started with a small list is a good first step to then add onto.

Maybe a possible hashtag could be #underrepresentedinOSS or something along those lines?

[2018-12-22 11:34] alicetragedy commented on #34
I agree — I'm not very familiar with these conferences myself, but it sounds to me like they're pretty general and not specifically for Open Source. :)

[2018-12-22 20:38] jancborchardt commented on #46
@alicetragedy we could collect an initial list at our next coworking? :) Maybe for the tag just using `#opensourcediversity` is simpler?

[2019-01-02 16:34] sara-02 commented on #34
Yes, they are general WIT conference and not related to open source. @sadetavarez I am closing this issue.

[2019-01-02 16:34] #34 closed

[2019-01-02 23:07] jonatoni commented on #34
+1 with @alicetragedy

[2019-01-04 16:17] jancborchardt commented on #34
@sara-02 I added them to the list at **Criteria for adding projects / About page with other related projects #37**. :) Then we can still list them once we have a page with related projects.

[2019-01-05 08:07] sara-02 commented on #34
@jancborchardt Cool, we can reopen the issue once we get there :)

[2019-03-12 12:14] #31 closed

[2019-03-19 09:22] alicetragedy opened #74 "Custom font on the site doesn't load (broken link)"
The URL for the font in the css points to `../fonts/Nunito-Bold.ttf` but the font files are located in the `css` folder. Either the URL should be updated accordingly, or the files should be moved to a new `fonts` folder in the root (probably depending on what y'all prefer, structure-wise).

This would be a really good first issue for someone looking to contribute ✨

[2019-03-19 10:08] jancborchardt commented on #74
Yes, a very good first issue!

The URL can simply be updated from `fonts` to `css`, less folders is nice. :)

[2019-03-23 20:48] #3 closed

[2019-03-23 20:48] #4 closed

[2019-03-28 03:28] adzshaf commented on #74
@jancborchardt hi! can I work on this issue? Thank you!

[2019-03-29 07:41] jancborchardt commented on #74
@adzshaf yes, that would be very cool! If you have any questions, we're available. :)

[2019-04-02 10:46] #74 closed

[2019-04-03 09:43] sara-02 commented on #33
Closing this issue, w.r.t to the information provided in #37.

[2019-04-03 09:43] #33 closed

[2019-04-03 09:46] sara-02 commented on #50
Does O'Reilly's OSCON Open Source Awards count? They are open to individuals and organizations(not limited to women)
Ref: https://en.wikipedia.org/wiki/O%27Reilly_Open_Source_Award

[2019-04-18 11:18] jancborchardt commented on #50
Good question – I would tend to say no since it’s a generic award not specific to underrepresented groups, even though they seemingly improved through the years regarding diversity.
That is, if we add this one then there are _a lot_ of projects that will be on the website. :D Just like also all hackerspaces are potentially open to everyone, but in practice it’s a bit different.

What does everyone

[2019-04-18 14:24] jancborchardt commented on #58
Fixed by @RocktimSaikia via https://github.com/opensourcediversity/opensourcediversity.org/pull/76 – thanks a lot! :)

[2019-04-18 14:24] #58 closed

[2019-04-24 15:24] alicetragedy commented on #50
Yep, I agree with @jancborchardt — I don't feel that O'Reilly's OSCON Open Source Awards counts given it's not focused on promoting or supporting diversity in open source software.

[2019-08-24 05:58] tapaswenipathak opened #81 "Organising Open Source Day monthly as a active solution for getting more woman in open source"
Hey folks: Highlighting, as more and more I get involved w/ open source, I find less and no woman as active contributor or maintainer of open source projects. Just spreading the word for organising OpenSourceDay where people will work with mentor for contributing in open source projects, meaning target open source projects based on folks interest and make them work w/ active contributors. Once enc

[2019-08-24 06:22] tapaswenipathak opened #82 "Retaining women in open source: Organising open source day monthly"
Hi folks: Finding an active open source contributor or maintainer woman is hard or nearly none. Internships give a break in open source, if observed there is no retention of women in open source and research[1] suggests. Implementing open source day per month letting woman work with mentor and contribute in an open source project they would like would be practical implementation than just publishi

[2019-08-24 06:23] tapaswenipathak opened #83 "Retaining women in open source: Organising open source day monthly"
Hi folks: Finding an active open source contributor or maintainer woman is hard. Internships give a break in open source, if observed there is no retention of women in open source and research[1] suggests. Implementing open source day per month letting woman work with mentor and contribute in an open source project they would like would be practical implementation than just publishing research and

[2019-08-24 06:23] tapaswenipathak commented on #81
That's a lot of text; please see https://github.com/opensourcediversity/opensourcediversity.org/issues/83.

[2019-08-24 06:23] #81 closed

[2019-08-24 06:27] #82 closed

[2019-08-26 16:05] jancborchardt commented on #83
@tapaswenipathak that would be cool! I’d say a better place to discuss an event would be the forum at https://discourse.opensourcediversity.org/ since we also have the "Events" subcategory there which we use for organizing, and other events get posted too. :)

[2019-08-26 16:53] tapaswenipathak commented on #83
On Mon, Aug 26, 2019 at 9:35 PM Jan-Christoph Borchardt
<notifications@github.com> wrote:

Hello,

I will be mailing the proposal out as well. :)

--
Tapasweni

[2019-08-26 17:47] jancborchardt commented on #83
Cool, closing this then, let’s move the conversation to the forum. :)

[2019-08-26 17:47] #83 closed

[2019-08-27 01:17] tapaswenipathak commented on #5
Hey @suntala: If you don't have time for that PR, can I assign myself?

[2019-10-01 09:51] sara-02 opened #84 "[Idea][Section on Newletters]"
Just floating an idea:
There are some great Newsletters run by the likes of [DiversifyTech](https://www.diversifytech.co/), [CodeNewBie](https://www.codenewbie.org/), and other main stream organizations like the [CODE Reviews](https://us7.campaign-archive.com/home/?u=e75be710ba1a2eb0df9d82ca4&id=73a7096e5d) by Women Who Code.
Can we have a section highlighting these Newsletters?

[2019-10-09 19:54] dhuang612 commented on #43
Hi,

I wanted to double check, are you talking about these dependencies?

<img width="599" alt="Screen Shot 2019-10-09 at 3 52 30 PM" src="https://user-images.githubusercontent.com/49162249/66515361-02479c00-eaad-11e9-9a8a-daa173a4c111.png">

if so I would like to work on this!

[2019-10-09 21:21] jancborchardt commented on #43
I assume @rullzer is referring to the bootstrap and popper Javascript files in the vendor folder at https://github.com/opensourcediversity/opensourcediversity.org/tree/master/vendor ? They would simple need to be updated through downloading them from the website and updating them here. :)

Cause we do not use any of the dependencies listed in the error and there’s no package-lock.json file either.

[2019-10-10 11:23] nitink4472 commented on #51
I would like to work on this issue but tell me as i'm a newcomer that, Are maintainers the same as contributors/backers?

[2019-10-10 14:32] rullzer commented on #43
the better appraoch would to actually use a proper package.json ;)

[2019-10-10 15:03] dhuang612 commented on #43
thanks for the feedback I'll get working on this

[2019-10-10 17:01] jancborchardt commented on #51
Since contributing to Open Source Diversity can have many different means, lots of which will not necessarily mean doing a lot on the website, I’d prefer if we don’t list specific people as maintainers. :) Open Source Diversity is meant as a hub by and for people working to push inclusion & diversity in open source rather than a specific group or project.

(We already do this to a certain extent i

[2019-10-10 18:16] dhuang612 commented on #43
created PR #85 for this issue

[2019-10-12 10:45] syauqy commented on #55
Hi, I just saw this issue and did an update for it, please check this PR #86

[2019-10-15 13:06] alicetragedy commented on #51
Sooo I think both perspectives are valid. I definitely think that adding people as “maintainers” can a) put a lot of responsibility (potentially unwanted) on certain folks and b) lead to forgetting people who also played a big part.
I also agree that contributing and maintaining a group isn’t always visible work (or the type of work we assume when we call someone a “maintainer”).

I do think it mi

[2019-10-25 12:04] jancborchardt commented on #84
@sara-02 maybe it would be cool to open a thread on the forum https://discourse.opensourcediversity.org to list the ones you know about already and collect more newsletters like that? :) (Also to find if there are any specifically at the intersection of _open source_ and _diversity_, as most is general "tech" and diversity.)

[2019-11-18 18:56] R-Ligier commented on #42
Hi there, I am interested in working on this issue if it is still available.

Can someone provide some more details on the kinds of articles the project is looking to add?

[2019-11-19 11:51] ucalyptus opened #89 "How do I become a member of this community?"
Please go through my profile, @ucalyptus

[2019-11-19 15:23] jancborchardt commented on #89
Everyone who works on diversity & inclusion in open source is a member. :)
Come introduce yourself in the introductory thread in the forum at https://discourse.opensourcediversity.org/t/introductions-come-in-say-hi/19/
You are now also added to the Github organization here, but this is not a requirement to contribute. :)

[2019-11-19 15:23] #89 closed

[2019-11-26 15:24] jancborchardt commented on #42
Hi @R-Ligier, welcome! :) In general we want to highlight resources on the intersection of diversity/inclusion _and_ open source.

There’s a lot of resources about diversity/inclusion in _tech_, but as there’s also already many projects focused on aggregating those, we specifically want to focus on open source.

@camilasan what do you think, did I forget anything?

[2019-12-20 14:42] Rishi007-web commented on #55
Is this issue is resolved?
If not I want to work on basics section

[2019-12-21 21:11] pdurbin commented on #55
@Rishi007-web it looks like @syauqy already opened pull request #86 to close this issue.

[2019-12-31 06:58] jancborchardt commented on #55
Aaand merged the pull request https://github.com/opensourcediversity/opensourcediversity.org/pull/86 by @syauqy! :) Sorry for the lateness – anyone can review pull requests. :)

[2019-12-31 06:58] #55 closed

[2020-01-16 03:06] prologic commented on #42
A good friend of mine @pdurbin pointed me to this issue and your efforts (_thank you btw_). Just wanted to say that I am a person with a vision impairment (_legally blind actually_) and I've been contributing to and developing open source projects for quite some time. I'm now a proud member of  a new company I recently joined ([NetData](https://netdata.cloud)) that embraces OSS and the Maintainer

[2020-01-16 14:51] jancborchardt commented on #42
Very cool, welcome @prologic! As we are mainly a platform which aggregates things: Are you aware of specific articles or resources on the intersection of open source and accessibility which we don’t list on https://opensourcediversity.org yet? Important is that it’s both topics, not one or the other, or just "accessibility in tech".

Also, we have a forum at https://discourse.opensourcediversity.o

[2020-01-31 16:26] SantiagoTorres opened #92 "Explicitly label promo content as CC?"
I was hoping to print and distribute logos/stickers and whatnot. I'd like these resources to be CC-BY or so for doing it :)

[2020-03-26 22:53] jancborchardt commented on #92
They are explicitly licensed as CC-BY in the readme at https://github.com/opensourcediversity/opensourcediversity.org#-license :) And directly below that:

So please do go ahead :)

[2020-03-26 22:53] #92 closed

[2020-04-23 19:24] JKolodny commented on #41
@camilasan if this issue is still open, I would love to do some research/find articles related to this. Thanks!

[2020-05-02 08:35] camilasan commented on #41
@JKolodny You should ask @jancborchardt about it.

[2020-05-03 11:31] jancborchardt commented on #41
Sure @JKolodny, it would be great if you can do some research on this. :) When looking for articles, there are probably a lot of article about ageism in tech. So best make sure that they are about ageism specifically to open source, as this is more relevant to our project.

[2020-05-03 17:23] JKolodny commented on #41
@jancborchardt Okay, I'll get on it! Thanks :)

[2020-05-11 20:35] #41 closed

[2020-05-16 16:12] Chris2W opened #94 "Adding "First Timers Only" on basics section"
I thought it would be nice to provide additional guidance for newbies diving into open source... https://www.firsttimersonly.com/ provides a beginner friendly outline and resource that I personally used to get into open source. While it mentions UpForGrabs and Code of Conduct like in Open Source Diversity, it also mentions platforms like CodeTriage and many other things that I believe can be vital

[2020-05-21 00:33] toddswrittenword commented on #42
Are you accepting blog/article submissions for this?  Or are you only looking for curated links?  I ask because I have a background in disability law.

[2020-05-22 16:38] jancborchardt commented on #42
@toddswrittenword since we are mainly an aggregator and don’t necessarily want to get into content production ourselves, we’d rather link it, as it is now at https://opensourcediversity.org/#articles :)

(Just like for the events: We did do some where needed, especially to connect communities, but we’d also rather highlight existing relevant ones.)

[2020-05-22 19:10] toddswrittenword commented on #42
Sounds good!

--------------------------------

Todd Brogowski
Todd’s Written Word, LLC
www.toddswrittenword.com
todd@toddswrittenword.com
719-749-1160

Intelligent Content That Inspires, Sells, and Informs
On May 22, 2020, 10:38 -0600, Jan C. Borchardt <notifications@github.com>, wrote:

[2020-05-27 15:56] tosinibrahim96 commented on #94
A [PR ](https://github.com/opensourcediversity/opensourcediversity.org/pull/95)has been merged to address this issue already. Maybe this issue should be closed now.

[2020-05-27 16:31] #94 closed

[2020-07-21 17:50] N00Bmaster2810 commented on #42
Hi, I am interested in working on this issue if it is still available.

[2020-08-04 18:23] OriolAbril opened #99 "Add DISCOVER cookbook"
I think that https://github.com/numfocus/DISCOVER-Cookbook would be a good fit for the projects section of the home page

[2020-08-26 15:49] Kerveyfelix commented on #42
Can I add an article?

[2020-09-03 16:04] nikolatechie opened #107 "Text alignment for class text-center should be set center"
Currently, text alignment in class text-center is set to _left_. It should be set to _center_ because it looks better visually and the class name says so.

[2020-09-17 12:14] Roshanjossey commented on #107
I've to disagree. I think it's more readable with left align

_left align_

![image](https://user-images.githubusercontent.com/8488446/93468416-3ba89e80-f8ef-11ea-95a1-1d52b2d91df0.png)

_center align_

![image](https://user-images.githubusercontent.com/8488446/93468477-524ef580-f8ef-11ea-87bd-66567eb2e135.png)

https://github.com/opensourcediversity/opensourcediversity.org/blob/master/css/custom.

[2020-09-17 13:05] nikolatechie commented on #107
What about these?
<br><i>left align:</i>
![Screenshot_1](https://user-images.githubusercontent.com/13731532/93473901-e1abd700-f8f6-11ea-8621-29843b239cd1.png)
<br><i>center align:</i>
![Screenshot_2](https://user-images.githubusercontent.com/13731532/93473906-e3759a80-f8f6-11ea-8997-5943b59293ac.png)

Look below "Heart of Code Berlin". When the text below it isn't centered, it really looks bad.

[2020-09-17 13:05] #107 closed

[2020-09-17 13:38] Roshanjossey commented on #107
I agree with you in the case of `Heart of Code Berlin`. However, when there's more than 3 lines, I see that left align is better.

[2020-09-25 14:10] pranavvp10 commented on #99
Hi there, I am interested in working on this issue if it is still available. @OriolAbril

[2020-09-30 16:23] rutujak24 opened #111 "Request to join this organization"
I am an undergraduate at PICT, Pune. A quality and output-driven computer enthusiast. Passionate about exploring computer science and technology-related topics. My domains & fields of interest are machine learning, data science, Computer Vision, Python, Java, C++, R, MATLAB, open-source. I aspire to work and contribute to these fields for betterment society through research and innovations for imp

[2020-11-06 20:29] akshitagupta15june opened #112 "Request to join this organisation."
I Would like to join this organisation.
I love open source and will love to contribute in this organisation.
Please add me in your organisation.
My Github handle akshitagupta15june

[2020-11-08 20:30] JayantGoel001 opened #113 "Please invite me to the GitHub Community Organisation #401"
I would Like to join this organization

[2020-11-30 21:49] #113 closed

[2020-12-08 22:17] Abiola-Farounbi commented on #42
Is this issue still open

[2021-01-11 22:03] lwasser commented on #1
👋 hi there! i see this issue is a  few  years old but i wanted to say hello  and potentially connect with this group. I'm working on a project called [pyOpenSci](https://www.pyopensci.org) - modeled  after ropensci that's all about building well documented, tested and discoverable software for science. I want a core goal of this effort to be about diversity (this is not on the website now but will

[2021-03-03 23:27] everly-gif opened #115 "Yourfirstpr repository has been archived, removal from basics section"
Yourfirstpr repository has been archived, removing it from the basics section of the website seems to be a better idea.

[2021-03-09 18:35] Amritpal-001 commented on #42
Hi, I am interested in working on this issue.

[2021-03-24 06:18] Ahcatan commented on #115
can you explain? I dont understand what has been archived

[2021-05-20 22:13] jwflory opened #120 "Modernize Continuous Integration pipeline"
There are no checks or CI pipelines to test new contributions and preview new builds of the site. This would enable contributing with more confidence. Newcomers can know that their contributions are validated and working, and maintainers can quickly know this too without having to clone the changes locally and test things out.

Two tools I would like to use for this are Circle CI and Netlify for p

[2021-05-20 22:46] jwflory commented on #111
Hi @rutujak24, thank you for your interest on Open Source Diversity! If you are interested in learning more about us and getting involved, I recommend introducing yourself in [our Telegram channel](https://t.me/diversityandinclusioninoss) or on the [Discourse forum](). Hope to see you in one or both of those places. 🙂 Thank you for your patience in receiving a response.

[2021-05-20 22:46] #111 closed

[2021-05-20 22:46] jwflory commented on #112
Hi @rutujak24, thank you for your interest on Open Source Diversity! If you are interested in learning more about us and getting involved, I recommend introducing yourself in [our Telegram channel](https://t.me/diversityandinclusioninoss) or on the [Discourse forum](). Hope to see you in one or both of those places. 🙂 Thank you for your patience in receiving a response.

[2021-05-20 22:46] #112 closed

[2021-05-20 22:48] jwflory commented on #1
Hi all, I am cleaning up and triaging some old issues to figure out where we are on website development in 2021. I am closing this issue as we get back up to speed on the current backlog on the site. 🎬

[2021-05-20 22:48] #1 closed

[2021-05-20 22:49] jwflory commented on #6
Hi all, I am cleaning up and triaging some old issues to figure out where we are on website development in 2021. I am closing this issue as we get back up to speed on the current backlog on the site. 🎬

[2021-05-20 22:49] #6 closed

[2021-05-20 23:45] #120 closed

[2021-05-20 23:48] jwflory opened #123 "Fix failing HTML checks"
We now have a Continuous Integration pipeline, as per #122. However, there are some errors that need to be fixed for valid HTML and accessibility:

[code]

source: https://app.circleci.com/pipelines/github/opensourcediversity/opensourcediversity.org/2/workflows/6ed0dc82-28da-40dc-a6bc-4226f2928d08/jobs/2

[2021-05-21 02:32] ramyaparimi commented on #123
I can work on this :)

[2021-05-21 06:37] HarshaVardhanNakkina commented on #123
are you working on this currently?

[2021-05-21 06:46] mayuribotre15 commented on #123
Hey @jwflory. Can I work on this?

I have checked your index.html file.
So I am pretty sure that I can fix your error for valid HTML.

[2021-05-25 13:48] Guneetsinghtuli opened #126 "No scroll when items are clicked on navigation bar (CROSS BROWSER ISSUE)"
The  **[scroll-behavior](https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-behavior)** CSS is not supported in SAFARI because of which smooth scroll animation is not working

REFER TO: css/custom.css -> [48,5]

https://user-images.githubusercontent.com/48324492/119508658-89827a00-bd8d-11eb-8221-3f786f445de1.mov

[2021-05-25 17:29] SANJAY072000 commented on #126
I have done a PR #127 to this issue.

[2021-06-07 14:18] RR-Sahoo commented on #123
hey @jwflory  can I work on this as , I am the new to opensource.

[2021-06-08 14:46] sameer882000 opened #128 "Join this organization"
I would like to join this organization. I love open source and will love to contribute in this organization. Please add me in your organization.
My GitHub handle is :- @sameer882000

[2021-06-10 04:33] avnish100 commented on #123
Hey ! can i work on this?

[2021-06-10 08:17] jonatoni commented on #123
Hey @mayuribotre15 @RR-Sahoo @avnish100 - welcome :)
@ramyaparimi are you working on this issue?

[2021-06-10 08:21] jonatoni commented on #128
Hi @sameer882000 welcome :) Usually we add people in the organization when they have already done some contributions, so I would suggest to check the open issues first and help us to fix them :smile:

[2021-06-10 08:21] #128 closed

[2021-06-10 08:26] jonatoni commented on #115
@everly-gif thanks, good point. We should remove it.

@Ahcatan we should remove https://yourfirstpr.github.io/ from our website

[2021-06-15 08:07] avnish100 commented on #123
is this still available?

[2021-06-21 23:26] everly-gif commented on #115
Hey @jonatoni  I can work on this, could you assign me this.

[2021-06-21 23:48] everly-gif commented on #115
@jonatoni  made a pull request, do review it. Thanks!

[2021-06-26 13:24] jwflory opened #131 "Migrate site to React-based framework, like Docusaurus"
# Summary

Convert the existing website (plain HTML page) into a React-based site focused on content management, such as [Docusaurus](https://docusaurus.io/)

# Background

When the `opensourcediversity.org` website was first created, we were a smaller project with a group of people that also had in-person meet-ups to work on things like the website. Fast forward a few years and add a global pande

[2021-06-27 08:15] Victorybrown commented on #131
Can you explain more on the Content Management. What is expected? Are we to research and curate resources to improve and promote Open Source D & I or Organize already existing resources? Is it a technical contribution involving codes or just writing?

[2021-06-28 04:38] IamJayashree commented on #131
Hi Justin, I would like to understand more about the content management work. would like to contribute accordingly. thank you

[2021-06-28 14:30] Aashimalik commented on #131
Hi All,
I would love to be part of it. I'm working as a full stack developer .

[2021-06-28 17:12] jancborchardt commented on #131
Before diving into the technical details, it would make sense to define how the site should look like and what kind of content we want to offer. Based on that we can make a better choice regarding the technology.

(Ultimately we could also do it with Vanilla JS and JSON for the data so it's very approachable.)

[2021-06-29 05:16] IamJayashree commented on #131
Hi Team, I have about 7 front end engineers from my team who are interested to contribute. They will be commenting here soon. Let us know if any meeting required once the team shares their consensus here.

[2021-06-29 05:24] soumya-wipro commented on #131
Hi Team,
This is Soumya Bose. I am a full stack developer. I am looking forward to contribute my free time in this project.

[2021-06-29 05:28] krish5512 commented on #131
Hi All,

I am haves started on the MERN stack and would love to contribute my free time in this project

[2021-06-29 07:04] kavitha89 commented on #131
Hey Team,

I will be more than happy to help out here at this space. Let me know. Thank You!

[2021-06-29 12:45] strivedi07 commented on #131
Hi Team,

I am new to React but keen to learn and contribute in this project.

[2021-07-02 22:59] jwflory commented on #131
Hi @Victorybrown and @IamJayashree, I was thinking more like a knowledge-base, something [like this kind of example](https://unicef.github.io/inventory/). Right now, we have a few sections on our website that provide resources or referrals. We could push this one step further by better curating our existing content into a static site generator tool that works with Markdown source files. Then, we c

[2021-07-06 16:12] IamJayashree commented on #131
Thanks @jwflory  - On your response on the content management , would request you to take sometime to explain during our monthly meeting please.  Plus, let me know if you need our volunteers ( reactJS devs) to attend.

[2021-07-14 23:22] jwflory commented on #131
Hi @opensourcediversity/website-committers (@ramyaparimi, @Aashimalik, @krish5512, @soumya-wipro) and invited folks (@ashlyn-knox @IamJayashree @kavitha89 @strivedi07), you are now part of the team. Welcome aboard!

Please take a look at [this forum post](https://discourse.opensourcediversity.org/t/modernizing-opensourcediversity-org-developers-and-content-creators-wanted/605/3?u=jwf) summarizing

[2021-07-15 10:20] IamJayashree commented on #131
Thank you Justin

[2021-07-15 15:27] IamJayashree commented on #131
Our engineering crew have joined Telegram.

[2021-08-05 13:49] luigi-cardone commented on #123
Hi, is anyone working on this? I am new to open source, I'd love to give it a try

[2021-09-15 21:14] op3n-signal commented on #123
So, we have to check if someone is working on something first?

[2021-12-02 05:13] Jyoti-prakash-rout opened #134 "Please invite me to the GitHub Organization"
I'm a Web Dev enthusiast & a junior pursuing my Bachelors in Computer Science & Engineering. I'm interested in Web Devlopment, Machine Learning & DevOps & I enjoy learning new things & stuff as well as I'm a Frontend Devloper with experience building Dynamic & Static Web pages. I am always interested in learning the answers to how, why, and what relates to the Technologies around me.

I would like

[2021-12-02 11:24] jwflory commented on #134
Hi @Jyoti-prakash-rout, our community presence is less on GitHub. Please join us either [on Telegram](https://t.me/diversityandinclusioninoss) or [on Signal](https://signal.group/#CjQKIBCrnNZU2ROCBP5ysJgdiYJBPNxIKT3tkktcMTywdgOUEhBbZbRk0doCcoAGC6Vauv14) and share your introduction there. Thanks, hope to see you there. 🙂

[2021-12-02 11:24] #134 closed

[2021-12-02 11:29] #115 closed

[2021-12-02 14:31] Shamar opened #135 "Transparency issue: who pays the bills?"
Hi, I'm having a hard time to find any information about the funding of opensourcediversity.org since it's foundation.

Can you please add a page or a section about your funders like many other organizations do for transparency (see for example https://fsfe.org/donate/thankgnus.en.html )

[2021-12-02 14:58] jwflory commented on #135
Hi @Shamar, Open Source Diversity isn't a foundation or any kind of legally-registered organization. It is a general community that has formed up around the website and community chat channels. We don't have any formal funders, although there is the Open Collective managed by @jancborchardt which has helped to pay for infrastructure costs over years. Nobody is paid for their contributions and ever

[2021-12-02 14:58] #135 closed

[2021-12-02 15:44] Shamar commented on #135
Uhm... thanks for your answer @jwflory.

To be honest, I think such kind of structure should be documented on the website as well, since a [newcoming contributor](https://github.com/opensourcediversity/opensourcediversity.org/pulls) or a [donor over open collective](https://opencollective.com/opensourcediversity) might not be aware to be donating to a informal group of private individuals.

For on

[2021-12-02 20:46] jwflory commented on #135
We have active Signal and Telegram groups where we discussed making such a collective signature.

[2021-12-03 10:30] Shamar commented on #135
Cool! Even Debian voted about signing that letter!
It's much more democratic than how other projects are managed.

I'm not much fan of centralized social networks, so I avoid both Signal and Telegram.
Unfortunately [the forum doesn't look much active](https://discourse.opensourcediversity.org/latest) and even the [twitter account](https://twitter.com/osdiversity) post roughly once a month just to

[2021-12-10 16:52] jasonghent98 commented on #123
After looking at markup on index.html, all the errors posted look like they have been resolved?

[2022-01-13 20:18] Shelly011s commented on #25
Is this issue still open?

[2022-01-18 15:55] jwflory commented on #25
Hey, as a former GSoC student and mentor, I am +0 to adding Google. Honestly I want to give this a -1.

I am opposed to adding GSoC because interns do not have support systems for DEI issues in the communities they work in. GSoC interns are essentially contractors paid by Google to work in the open source communities that apply to GSoC. GSoC mentors can also be org admins, which can (and has befor

[2022-05-20 21:43] LaideLawal commented on #131
I am interested, I would be glad if you can count me in

[2022-05-20 21:48] LaideLawal commented on #123
source: https://app.circleci.com/pipelines/github/opensourcediversity/opensourcediversity.org/2/workflows/6ed0dc82-28da-40dc-a6bc-4226f2928d08/jobs/2

the above source is no more available.

Howevr, I have check the index,html file, everything seems to be okay

[2022-08-31 14:07] FAMOUSCLEAN commented on #42
I believe there are many on disability that have no idea they can contribute and make as much and in most cases more while gaining skills and confidence.

[2022-08-31 14:17] FAMOUSCLEAN commented on #42
I believe one must promote  the work as stated rejuvenating the senses for a sense of being good enough.

[2022-10-01 10:15] Roshanjossey opened #140 "Outdated links for Open Source Diversity Berlin and Diversify Open Source Bangalore in spaces section."
1. https://www.meetup.com/opensourcediversity/

This meetup group doesn't exist anymore. I think it could've been archived when meetup.com moved to a fully paid model.

However, I see events on open collective. https://opencollective.com/opensourcediversity/events
Even if new meetings haven't been announced, it'd be good to use this link to see past events and what was discussed there.

2. https:/

[2022-10-03 01:49] Roshanjossey commented on #140
Found more outdated links with https://brokenlinkcheck.com

| # | URL | link text | response |
|---|---|---|---:|
| 1 | https://diversitytickets.org/ | Diversity Tickets Help events reach a more diverse | 404 |
| 2	 | https://www.meetup.com/opensourcediversity/ | Open Source DiversityBerlin Monthly meetup in Berl | 404 |
| 3	 | https://diversifyingopensource.github.io/ | Diversify Open SourceBanga

[2022-10-07 15:33] Ayushbajpai19 commented on #42
Can i work on this issue as part of hacktoberfest?

[2022-10-27 09:46] sleepypioneer commented on #140
:( how sad so many have been removed. I could see two actions, one to remove links that are outdated, seems like it will be quite a few. Secondly, we could add an archive section to list these old initiatives without linking them. I think reaching to the maintainer if we can confirm it's that account for https://diversifyingopensource.github.io/ is a good idea.

[2022-10-27 17:16] jancborchardt commented on #140
Thanks for going through the links @Roshanjossey!

I found 2 of them where updated versions exist:
- GirlScript Summer of Code: https://gssoc.girlscript.tech/
- There’s Always Something to be Done: Liz Henry on Being Disabled in Tech: https://longmoreinstitute.sfsu.edu/archive/there%E2%80%99s-always-something-be-done-liz-henry-being-disabled-tech.html

So those coul be updated.

---

Regarding the

[2022-10-27 21:29] sleepypioneer commented on #123
@jwflory seems we can now close this?

[2022-10-27 21:30] sleepypioneer commented on #99
Fixed in https://github.com/opensourcediversity/opensourcediversity.org/pull/110

[2022-10-27 21:30] #99 closed

[2022-10-30 15:43] sleepypioneer opened #142 "Circle CI Lint Broken"
Currently, the linter appears to not be able to check out the code, which means this check fails. At a glance it seems to be regarding the publickey used, I am also a bit surprised to see it print this out in the log but perhaps that is not an issue.

[code]

It appears to have been the case since circa 3 months, and perhaps since this was added:

![image](https://user-images.githubusercontent.com

[2022-10-30 15:58] sleepypioneer commented on #42
The article from Liz Henry was added but the link seems to be broken, it can be updated to this [link](https://longmoreinstitute.sfsu.edu/archive/there%E2%80%99s-always-something-be-done-liz-henry-being-disabled-tech.html). We could also add the suggestion from @camilasan by the Zoe Henry [link](https://www.inc.com/zoe-henry/aapd-disability-equality-index-2017.html)

@Ayushbajpai19 considering tod

[2022-10-30 19:52] sleepypioneer commented on #42
Note that https://github.com/opensourcediversity/opensourcediversity.org/pull/143#pullrequestreview-1161183731 already updates the link for the Liz Henry article so the potential work here would be to add the Zoe Henry link :)